@media (min-width: 737px) and (max-width: 1800px) {

body{
  font-family: helvetica;
  font-size: 2vw;
}

h1{
  text-align: center;
  font-size: 3vw;
  margin-top:20%;
  width:90%;
  margin-left: 5vw;
}

.everything{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
}

/* Start Page */

.avatars{
  width: 15%;
  margin-left: 10%;
  transition: opacity 0.5s;
  cursor: pointer;
  display: none;
}

#second, #third, #fourth {
  margin-left: 5%;
}

.avatargrp{
  width: 80%;
  height:20%;
  margin: auto;
  position: relative;
  bottom:-1000px;
}

#name{
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: black;
  outline:none;
  width: 24vw;
  margin-left: 36.5%;
  margin-top:3%;
  font-size: 1.6vw;
}

#myButton{
  outline: none;
  border:none;
  background: white;
  cursor: pointer;
}

i {
    border: solid black;
    border-width: 0 0.5vw 0.5vw 0;
    display: inline-block;
    padding: 0.5vw;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.avatargrp:hover > .avatars {
  opacity: 0.5;
}

.avatargrp:hover > .avatars:hover {
  opacity: 1.0;
}

.avatar{
  width:45vw;
  left:27%;
  bottom:-1000px;
  position:absolute;
  display: none;
}

.avatarm{
  width:45vw;
  left:27%;
  bottom:-4.8rem;
  position:absolute;
  display: none;
}

.slider{
  position: absolute;
  margin-left: 35%;
  width: 24vw;
  display: none;
  outline:none;
  border-radius: 5px;
  -webkit-appearance: none;
  background-color: black;
}

.slider::-webkit-slider-thumb{
  cursor:grab;
}

.slider::-webkit-slider-thumb:active{
  cursor:grabbing;
}

/* mood */

.mood01, .mood02, .mood03,.mood01, .mood002, .mood003,.mood001, .mood002, .mood003, .mood0001, .mood0002, .mood0003, .mood00001, .mood00002, .mood00003{
  position: absolute;
  top:57%;
  left:62%;
  width: 130px;
  height: 40px;
  text-align: center;
  display:none;
}


.elated, .happy, .okay, .sad, .angry {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  border: 3px solid #D89047;
  color:#D89047;
  letter-spacing:1px;
  text-shadow:0;
  cursor: pointer;
  transition: all 0.25s ease;
  display: inline-block;
  margin-bottom:20px;
}

button:hover {
  color:white;
  background: #D89047;
}

.ic{
  width:8%;
}

}
